.env
venv/
__pycache__/
# Text backup files
*.bak

# Database
db.sqlite3
NP6-master/
1.html
.vscode/
.idea/
.ipynb
samples/
heroku/
!D3/static/txt/obscene.txt
*.txt
*.zip
*.env
flag.py
11.tmp
*.djcache